<h2><%= @regions.name %>地域</h2>
<table>
  <% @regions.places.each do |region| %>
  <tr>
    <td>場所名</td>
    <td>地面</td>
  </tr>
  <body>
    <tr>
      <td>
        <%= link_to place_path(@regions) do %>
        <%= region.name %>
        <% end %>
      </td>
      <td><%= region.ground %></td>
    </tr>
    <% end %>
  </body>
</table>