<div class="container">
  <div class="row">
    <div class="mx-auto">
      <h2 class="text-center", style="font-size:30px;">About</h2>
      <p style="font-size:25px;">
        B.ringは大阪府内でバスケットボールを気軽に楽しみたい<br>
        と思っている人に向けて、情報を共有していくサイトです。<br>
        老若男女関係なく、一人でも複数人でも楽しめるように<br>
        情報共有していきましょう！
      </p>
      <div class="text-center">
        <%= image_tag 'img11.jpg', size:'600x400' %>
      </div>
    </div>
  </div>
</div>