<h2>About</h2>
<p>
  B.ringは大阪府内でバスケットボールを気軽に楽しみたいと思っている人に向けて、</br>
  情報を共有していくサイトです。</br>
  老若男女、一人でも複数人でも楽しめるように、情報共有していきましょう！
</p>
<div class="about_img">
  <%= image_tag 'img11.jpg', size:'500x300' %>
</div>