<h4>
  <% if user_signed_in? %>
    <%= current_user.nickname %>さん
  <% end %>
  Welcome to <strong>B.ring!!</strong></br>
  このサイトは、大阪府内にある屋外バスケットボールコートの共有サイトになります。</br>
  会員でない方も閲覧することはできますが、コメントする際には会員登録が必要となります。</br>
</h4>
<div class="top_img">
  <%= image_tag 'img12.jpg', size:'500x300' %>
</div>