<footer>
<<<<<<< HEAD
  <%= image_tag('logo2.jpg') %>
 <p>(c)2021 B.RING</p>
=======
  <div class="container mt-2">
    <div class="row">
      <div class="mx-auto">
        <p>Copyright ©️2021 B.RING</p>
      </div>
    </div>
  </div>
>>>>>>> 8ce3cb381376893f12bd49344fe212964977399e
</footer>